<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navBar :: navBar" />
<div class="wrap">
	
	<div class="form-wrap">
		
		<div class="col-md-12 text-center">
			<h3>로그인</h3>
		</div>
		
		<form id="login" th:action="@{/login}" method="post" class="input-group">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="text" class="input-field" name="username" placeholder="닉네임을 입력해주세요" required>
			<input type="password" class="input-field" name="password" placeholder="비밀번호를 입력해주세요" required>
			<button class="submit">LOGIN</button>
		</form>
	
	</div>

</div>
</body>
</html>