<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <div id="menu" th:fragment="navBar">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-band" href="/"><img src="/images/logo.png"/></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample03"
        aria-controls="navbarsExample03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>
	    
      <div class="collapse navbar-collapse" id="navbarsExample03">
	      <div class="container">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item">
	            <a class="nav-link" href="/"
	              >모든 여행지 보기 <span class="sr-only">(current)</span></a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/">여행지 추천 게시판 </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/">방명록 </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/">공지사항 </a>
	          </li>
	        </ul>
        </div>

        <form class="form-inline my-2 my-md-0">
          <ul class="navbar-nav mr-auto">
	          <!-- 비로그인 접속 시 -->
	          <li class="nav-item" sec:authorize="isAnonymous()">
		          <a class="nav-link" th:href="@{/login}">LOGIN</a>
	          </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" th:href="@{/register}">REGISTER</a>
            </li>
	          <!-- 로그인 접속 시 -->
	          <li class="nav-item" sec:authorize="isAuthenticated()">
		          <a class="nav-link" href="#" sec:authentication="name">유저</a>
	          </li>
	          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
		          <a class="nav-link" th:href="@{/admin}">ADMIN</a>
	          </li>
	          <li class="nav-item" sec:authorize="isAuthenticated()">
		          <a class="nav-link" th:href="@{/members/logout}">LOGOUT</a>
	          </li>
          </ul>
        </form>
	      
      </div>
    </nav>
  </div>
</html>
